# text too large
papers/stress/text_1987_finite_element_method_linear_static_and_dynamic_finite_element_analysis.pdf

# junk
.vscode/ipch/



# Compiled Object files
*.slo
*.lo
*.o

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.un~
*.swo
*.swp

build/*
data/*

# latex
*.aux
*.fdb_latexmk
*.fls
*.log
*.out
*.synctex.gz
*.bcf
*.blg
*.bbl
*.run.xml
